/**
 * Banner strip
 */

.banner-strip__row { /* .widget_banner_strip > .row */
    margin-left: -5px;
    margin-right: -5px;
}
.banner-strip__3,
.banner-strip__2,
.banner-strip__1 { /* .widget_banner_strip div[class*="col-"] */
    padding-left: 5px;
    padding-right: 5px;
}
.banner-strip {}
.banner-strip__content {
    padding: 5px;
}
.banner-strip__content a {
    display: block;
    position: relative;
    overflow: hidden;
    border: 0;
}
.banner-strip__content a img {
    max-width: 100%;
}
.banner-strip__content a .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.footer__widgets-row .banner-strip__content a {
    background-color: transparent;
}
.widget-width__full .banner-strip__content a {
    padding: 0;
    border: none;
}
.widget-width__full .banner-strip__row {
    margin-left: 0;
    margin-right: 0;
}
.widget-width__full .banner-strip__3,
.widget-width__full .banner-strip__2,
.widget-width__full .banner-strip__1 { /* .widget_banner_strip div[class*="col-"] */
    padding-left: 0;
    padding-right: 0;
}

/**
 * Responsive and widget placements
 */

/* Make banners in one column */
.widget-width__side .banner-strip__row {
    margin-left: 0;
    margin-right: 0;
}
.widget-width__side .banner-strip__3,
.widget-width__side .banner-strip__2,
.widget-width__side .banner-strip__1 {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}
.widget-width__side .banner-strip__3 + .banner-strip__3,
.widget-width__side .banner-strip__2 + .banner-strip__2 {
    margin-top: 10px;
}

.widget-width__side .banner-strip__content a {
    border: none;
    background-color: transparent;
    padding: 0;
}

.widget_banner_strip {
    max-width: 970px;
}